body{
    font-family: Verdana,sans-serif;
    font-size: large;
    color: #303524;
    background-color:rgb(146, 163, 117);
    display: block;
    margin:0;
    padding: 0;;
}
.photoColumn{
    box-shadow: 0 0 5px rgba(40, 83, 43, 0.1);
    margin: 20px auto;
    padding: 20px;
}
.bioColumn{
    padding: auto;
    text-align: center;
    background-color: rgb(87, 129, 87);
}
img{
    border-radius: 50%;
    float:left; 
    height:250px;
    width:225px;
}